{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-1">Formulario de Locales</h1>
{% endblock %}

{% block contenido_que_cambia %}

<h2> {{ mensaje }} </h2>

<h2>Completar registro del local:</h2>

<form action="{% url 'formulariolocal' %}" method="POST"> {% csrf_token %}
    <p>Nombre: <input type="text" name="usuario"> </p>
    <p>Sucursal: <input type="number" name="sucursal"> </p>
    <input type="submit" value="Registrar local">

    <table>

        {{ from.as_table}}

    </table>
    


</form>
{% endblock %}