{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-1">Formulario de Locales</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h2>Completar registro del local:</h2>

<form action="{% url 'formulariolocal' %}" method="POST"> {% csrf_token %}
    <p>Nombre: <input type="text" name="nombre"> </p>
    <p>Sucursal: <input type="number" name="sucursal"> </p>
    <a class="btn btn-dark btn-xl"><input type="submit" value="Registrar local"></a>


</form>
{% endblock %}